<h2 class="page-header">New Book</h2>
<!-- 去到authors里 路径，里的post -->
<form action="/books" method="POST">
    <%- include('_form_fields') %>
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>